<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Administrar productos</title>
</head>
<body>

    <header></header>

    <main>

        <section class="container">
            <div id="app" >

                

                <section v-if="error">Lo sentimos se produjo un error</section>
                <section v-else>
                    <section v-if="cargando">
                        <p>Cargando .....</p>

                    </section>

                    <section v-else>
                        
                        <div >
                            <table class="tabla_admin">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Stock</th>
                                        <th>Imagen</th>
                                        <th>Acciones</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                    <tr v-for="producto in productos">
                                        <td >{{producto.id}}</td>
                                        <td>{{producto.nombre}}</td>
                                        <td>{{producto.precio}}</td>
                                        <td>{{producto.stock}}</td>
                                        <td>
                                            <div class="admin_prd_img">
                                            <img :src="producto.imagen" alt="">
                                        </div>
                                        </td>
                                        <td>
                                            <button type="button"  v-on:click="eliminar(producto.id)">Eliminar</button>
                                        </td>
                                        <td>
                                            <a class="boton" :href="'templates/editar_producto.html?id='+ producto.id+'&nombre=' +producto.nombre+ '&precio='+producto.precio+'&stock='+producto.stock +  '&imagen='+producto.imagen">Editar</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </section>

            </div>
            <!-- Botón Nuevo -->
            <a class="boton" href="nuevo_producto.html">Agregar Nuevo Producto</a>
        </section>

    </main>

    <footer></footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="../js/administrar.js"></script>
    <script src="../js/navbar_template.js"></script>
    <script src="../js/footer.js"></script>
</body>
</html>