<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comercio</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <header>
        <h1>Comercio xyz</h1>
        <div class="Navbar">
            <nav>
                <a href="./categoria1.html">Nuestros Productos</a>
                <a href="./categoria2.html">Tipos de placas</a>
                <a href="#">Kits de desarrollo</a>
                <a href="/template/contacto.html">Contacto</a>
            </nav>
        </div>
    </header>

   

    <main>

        <div class="Item">
            <img src="../img/arduino.png" alt="Arduino Uno">
            <div class="ItemDesc">
                <h3>Arduino Uno</h3>
                <p>
                    La plataforma Arduino nació en el año 2006 como un proyecto un una universidad italiana para crear
                    herramientas simples y de bajo costo para la creación de proyectos digitales. La facilidad
                    de
                    uso de
                    la plataforma catapultó la popularidad del proyecto. En poco tiempo se había formado una comunidad
                    que
                    creaba módulos compatibles, librerías de software, drivers, tutoriales y documentación.
                    El Arduino Uno es una kit de desarrollo con un microcontrolador AVR de 8 bits. Puede parecer poco
                    hardware
                    si se lo compara con alternativas mas actuales, pero su vigencia y popularidad asegura que siempre
                    encontraremos módulos compatibles como pantallas, teclados y sensores; y tutoriales sobre como
                    utilizarlos.
                </p>
            </div>
        </div>
        <div class="Item">
            <img src="../img/ESP32.png" alt="ESP32">
            <div class="ItemDesc">
                <h3>ESP32</h3>
                <p>
                    Por el año 2014, aparece entre la plétora de periféricos compatibles con Arduino un modulo de
                    comunicación Wi-Fi basado en el integrado ESP8266 de Espressif. No obstante, este integrado no era
                    un mero modulo
                    Wi-Fi, sino un microcontrolador de 32 bits con Wi-Fi incorporado. En poco tiempo, comenzaron a
                    comercializarse
                    kits
                    de desarrollo basados en ESP8266 completamente autónomos que no necesitaban de un Arduino u otro
                    microcontrolador para funcionar. Actualmente, están sucedidos por el ESP32 que amplia su capacidad
                    de
                    computo y comunicaciones. El wifi incorporado, el soporte para el lenguaje MicroPython y el bajo
                    costo
                    hicieron de los módulos basados ESP32 los favoritos para los proyectos de sensores inalámbricos e
                    Internet
                    de las Cosas (IoT: Internet of Things).
                </p>
            </div>
        </div>
        <div class="Item">
            <img src="../img/Raspberry_Pi_Pico.jpg" alt="Raspberry Pi Pico">
            <div class="ItemDesc">
                <h3>Raspberry Pi Pico</h3>
                <p>
                    En 2012, la Raspberry Pi Foundation lanza al mercado una económica computadora de una sola placa
                    (SBC:
                    Single Board Computer) con el objetivo de promover la enseñanza de la informática y la programación
                    en
                    las
                    escuelas de Reino Unido.
                    Bastante mas modesto que el producto estrella de la fundación, el Raspberry Pi Pico es un kit de
                    desarrollo
                    con un moderno y versátil microcontrolador de 32 bits a un precio muy competitivo. Puede programarse
                    tanto
                    en C++ como en MicroPython.
                </p>
            </div>
        </div>
        <div class="Item">
            <img src="../img/f28379d.png" alt="Launchpad F28379D">
            <div class="ItemDesc">
                <h3>LAUNCHXL-F28379D</h3>
                <p>
                    Un Controlador Digital de Señales (DSC: Digital Signal Controller) es un microcontrolador
                    especializado
                    y
                    optimizado para el procesamiento de señales digitales. El F28779D es un DSC de alto rendimiento de
                    Texas
                    Instruments. El SDK que ofrece el fabricante permite programarlo en assembler o C. Claramente, no es
                    un
                    kit
                    de desarrollo orientado a principiantes, pero la cantidad de periféricos integrados en el chip y la
                    sobresaliente capacidad de computo lo convierten en la mejor opción para proyectos de control en
                    tiempo
                    real
                    y procesamiento digital de señales.
                </p>
            </div>
        </div>

    </main>


    <footer>
        <h6 class="Footer">Grupo 26 - 2023</h6>
    </footer>

</body>

</html>