<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comercio</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <header>
        <h1>Comercio xyz</h1>
        <div class="Navbar">
            <nav>
                <a href="#">Nuestros Productos</a>
                <a href="./categoria2.html">Tipos de placas</a>
                <a href="./categoria2.html">Kits de desarrollo</a>
                <a href="./contacto.html">Contacto</a>
            </nav>
        </div>
    </header>

   

    <main>

        <div class="Item">
            <img src="../Placas arduinos/Arduino Uno REV3 [A000066].jpg" alt="Arduino Uno">
            <div class="ItemDesc">
                <h3>Arduino Uno REV3 [A000066]</h3>
                <p>
                    Acerca de este artículo
                    Esta placa es tu entrada a la experiencia única de Arduino: ideal para aprender los conceptos básicos de cómo funcionan los sensores y actuadores, y una herramienta esencial para tus necesidades de prototipado rápido.
                    Arduino Uno es la placa más utilizada y documentada del mundo
                    Uno" significa "uno" en italiano y se eligió para marcar el lanzamiento de la versión 1.0 del software Arduino (IDE), que ahora ha evolucionado a versiones más recientes.
                    Tiene 14 pines digitales de entrada/salida (de los cuales 6 se pueden utilizar como salidas PWM), 6 entradas analógicas, un cristal de cuarzo de 16 MHz, una conexión USB, una toma de alimentación, un cabezal ICSP y un botón de reinicio.
                    Arduino es una plataforma de hardware, software y contenidos de código abierto con una comunidad mundial de más de 30 millones de usuarios activos.
                </p>
            </div>
        </div>

        <div class="Item">
            <img src="../Placas arduinos/Arduino Uno - R3.jpg" alt="Arduino Uno - R3">
            <div class="ItemDesc">
                <h3>Arduino Uno - R3</h3>
                <p>
                    Este es el nuevo Arduino Uno R3. Además de todas las características de la placa anterior, el Uno ahora utiliza un ATmega16U2 en lugar del 8U2 que se encuentra en el Uno (o el FTDI que se encuentra en las generaciones anteriores). 
                    Esto permite velocidades de transferencia más rápidas y más memoria. No se necesitan controladores para Linux o Mac (se necesita un archivo inf para Windows que se incluye en el IDE de Arduino), y la capacidad de hacer que Uno se muestre como un teclado, ratón, joystick, etc.
                    La Uno R3 también añade pines SDA y SCL junto a la AREF. 
                    Además, hay dos nuevos pines colocados cerca del pin RESET. 
                    Uno es el IOREF que permite a los escudos adaptarse al voltaje proporcionado por la placa. 
                    El otro no está conectado y se reserva para futuros propósitos. La Uno R3 funciona con todos los shields existentes pero puede adaptarse a nuevos shields que utilicen estos pines adicionales.
                </p>
            </div>
        </div>
        <div class="Item">
            <img src="../Placas arduinos/ARDUINO A000066 Uno R3 DIP Edition, 1.5.jpg" alt="ARDUINO A000066 Uno R3 DIP Edition, 1.5"">
            <div class="ItemDesc">
                <h3>ARDUINO A000066 Uno R3 DIP Edition, 1.5"</h3>
                <p>
                    Arduino Uno R3 Placa Base A000066 (Rev.3) Dip Dip Edition El Arduino Uno Es Una Placa Microcontroladora Basada En El Atmega328 (Datasheet).
                    Tiene 14 Pines Digitales De Entrada/Salida (De Los Cuales 6 Se Pueden Usar Como Salidas Pwm), 6 Entradas Analógicas.
                    Un Oscilador De Cristal De 16 MHz, Una Conexión Usb, Una Toma De Corriente, Una Cabecera Icsp, Y Un Botón De Reinicio.
                    Contiene Todo Lo Necesario Para Soportar El Microcontrolador; 
                    Simplemente Conéctalo A Un Ordenador Con Un Cable Usb O Aliméntalo Con Un Adaptador Ac-To-Dc O Una Batería Para Empezar.
                    La Uno Difiere De Todas Las Placas Precedentes En Que No Utiliza El Chip Controlador Ftdi Usb-To-Serial.
                    En Su Lugar, Cuenta Con El Atmega16U2 (Atmega8U2 Hasta La Versión R2) Programado Como Un Conversor Usb-To-Serial.
                    El Arduino Uno Smd Edition (R3) También Está Disponible.
                </p>
            </div>
        </div>
        <div class="Item">
            <img src="../Placas arduinos/Tolako Ethernet Shield W5100 R3 Network Module for Arduino UNO Mega Support PoE.jpg" alt="LTolako Ethernet Shield W5100 R3 Network Module for Arduino UNO Mega Support PoE">
            <div class="ItemDesc">
                <h3>Tolako Ethernet Shield W5100 R3 Network Module for Arduino UNO Mega Support PoE</h3>
                <p>
                    Este escudo Ethernet ha incorporado W5100 TCP / IP microprocesador.
                    Se puede conectar a Arduino a través de un conector hembra de pines largos.
                    Los usuarios pueden conectar fácilmente este escudo a la red a través de Ethernet sketch biblioteca en el IDE de Arduino.
                    Este shield soporta la conexión de cuatro sockets al mismo tiempo.
                    Además, la versión R3 se ha añadido con 1.0 puertos de salida de la versión estándar que consta de cuatro puertos adicionales, dos de ellos situados junto a ARFF, otros dos situados junto a RESET.
                    Este escudo lleva micro-SD parcela de la tarjeta y tiene función de almacenamiento en red.
                    Es totalmente compatible con arduino duemilanove, UNO R3 y Mega series. Se reserva la función PoE.
                </p>
            </div>
        </div>

    </main>


    <footer>
        <h6 class="Footer">Grupo 26 - 2023</h6>
    </footer>

</body>

</html>