<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comercio</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <header>
        <h1>Comercio xyz</h1>
    </header>

    <div class="Navbar">
        <nav>
            <a href="categoria 1.html">Nuestros Productos</a>
            <a href="categoria2.html">Tipos de placas</a>
            <a href="devkits.html">Kits de desarrollo</a>
            <a href="contacto.html">Contacto</a>
        </nav>
    </div>

    <main>
        <form action="">
            <div class="FormField">
                <!-- <label for="nombre">Nombre</label> -->
                <input type="text" name="nombre" id="nombre" placeholder="Nombre">
            </div>

            <div class="FormField">
                <!-- <label for="email">Correo electronico</label> -->
                <input type="email" name="email" id="email" placeholder="e-mail">

            </div>

            <div class="FormField">
                <!-- <label for="phone">Telefono</label> -->
                <input type="tel" name="phone" id="phone" placeholder="Nro. Telefonico">
            </div>

            <div class="FormField">
                <!-- <label for="consulta">Cosulta</label> -->
                <input type="textarea" name="consulta" id="consulta" placeholder="Su consulta">
            </div>
            <input type="submit" value="Enviar consulta">


        </form>

    </main>


    <footer>
        <h6 class="Footer">Grupo 26 - 2023</h6>
    </footer>

</body>

</html>