<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comercio</title>
    <link rel="stylesheet" href="../style/style.css">
    <title>Nuestra direccion</title>
</head>

<body>
    <header>
        <h1>Comercio xyz</h1>
        <div class="Navbar">
            <nav>
                <a href="./categoria1.html">Nuestros Productos</a>
                <a href="./categoria2.html">Tipos de placas</a>
                <a href="./devkits.html">Kits de desarrollo</a>
                <a href="#">Contacto</a>
            </nav>
        </div>
    </header>



    <main>
        <form action="" onsubmit="return validar()">
            <div class="FormField">
                <!-- <label for="nombre">Nombre</label> -->
                <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
            </div>

            <div class="FormField">
                <!-- <label for="email">Correo electronico</label> -->
                <input type="email" name="email" id="email" placeholder="e-mail">

            </div>

            <div class="FormField">
                <!-- <label for="phone">Telefono</label> -->
                <input type="tel" name="phone" id="phone" placeholder="Nro. Telefonico">
            </div>

            <div class="FormField">
                <!-- <label for="consulta">Cosulta</label> -->
                <input type="textarea" name="consulta" id="consulta" placeholder="Su consulta" required>
            </div>
            <input type="submit" value="Enviar consulta">


        </form>

        <iframe
            width="400"
            height="300"
            frameborder="0"
            style="border:0"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26271.37900725567!2d-58.49323332309724!3d-34.60612433007635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc9fd207fe81b%3A0x7829701685ae47c4!2sEstadio%20Diego%20Armando%20Maradona!5e0!3m2!1ses-419!2sar!4v1697491710894!5m2!1ses-419!2sar"
            allowfullscreen>
        </iframe>

    </main>


    <footer>
        <h6 class="Footer">Grupo 26 - 2023</h6>
    </footer>
<script src="../js/validacion.js"></script>
</body>

</html>