<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comercio</title>
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <header>
        <h1>Comercio xyz</h1>
    </header>

    <div class="Navbar">
        <nav>
            <a href="categoria 1.html">Nuestros Productos</a>
            <a href="categoria2.html">Tipos de placas</a>
            <a href="devkits.html">Kits de desarrollo</a>
            <a href="contacto.html">Contacto</a>
        </nav>
    </div>

    <main>

        <div class="Item">
            <img src="/TPO-CaC-main/Kit Arduino/Kit Arduino Uno R3 Compatible Componentes Robotica Principiantes.webp" alt="Arduino Uno">
            <div class="ItemDesc">
                <h3>Kit Arduino Uno R3 Compatible Componentes Robotica Principiantes. $70.349</h3>
                <p>
                    Kit Arduino
                    1 x Para UNO de R3 + cable USB;
                    1 x 65 unids/pack pruebas sudaderas;
                    1 x 830 Puntos tablero de alta calidad;
                    15 x LED (rojo, verde, amarillo);
                    30 x Resistencias (220R 10K 1K);
                    1 x Línea DUPONT de 10 pines (macho a hembra);
                    1 x Potenciómetro;
                    1 x Zumbador activo;
                    1 x Pasivo timbre;
                    1 x 74HC595N;
                    1 x Cabezal receptor infrarrojo;
                    1 x LM35DZ;
                    1 x Llama sensor;
                    1 x Interruptor de bola de rodillo;
                    3 x 5mm LDR;
                    5 x Interruptor de botón con tapa;
                    1 x IR control remoto;
                    1 x Cuatro tubos digitales;
                    1 x 8*8 matriz de puntos;
                    1 x Tubo digital;
                    1 x Placa de controlador UNL2003;
                    1 x 5V motor paso a paso;
                    1 x SG90;
                    1 x LCD1602 CII I2C;
                    1 x Modulo Joystick de juego PS2;
                    1 x Sensor Digital de temperatura y humedad DHT11;
                    1 x Módulo de medición de nivel de agua;
                    1 x RFID módulo;
                    1 x Llavero RFID;
                    1 x Tarjeta RFID;
                    1 x Módulo de sonido;
                    1x1 Módulo de relé de carretera;
                    1 x RTC módulo;
                    Teclado de matriz de 1x16 botones;
                    1 x Módulo RGB de tres colores;
                    1 x Conector de batería de 9V.
                    1 x Maletin
                </p>
            </div>
        </div>

        <div class="Item">
            <img src="/TPO-CaC-main/Kit Arduino/Auto Robot Smart Car Kit 2wd Arduino Compatible Chasis.webp" alt="Auto Robot Smart Car Kit 2wd Arduino Compatible Chasis">
            <div class="ItemDesc">
                <h3>Auto Robot Smart Car Kit 2wd Arduino Compatible Chasis. $59.359</h3>
                <p>
                    <h2>** DESCRIPCION **</h2>
                    Partes para armar un robot inteligente, se basa en la placa base Arduino.
                    Es un buen producto para comenzar con STEM para aprender a codificar.
                    Ayuda a ampliar la función, como la evitación de obstáculos ultrasónicos, el seguimiento, el control inalámbrico de la dirección del vehículo, etc.
                    Muy adecuado para que los principiantes aprendan programación. El kit no trae manual ni instructivos, solo son las partes.

                    <h2>** CONTENIDO DEL PAQUETE **</h2>
                    1 X Car Chassis
                    2 X TT motors
                    2 X Car Tire wheels
                    1 X Universal Wheel
                    1 X UNO R3 CH340 Module
                    1 X L298N Motor driver module
                    1 X HC-SR04 Ultrasonic sensor module
                    2 X IR Tracking module
                    1 X 9g Servo
                    1 X Ultrasonic fixing bracket
                    1 X Servo mounting bracket
                    1 X AAAx4 (pilas no incluidas)
                    2 X Speed Encoder
                    1 x Button switch
                    1 X Blue USB cable
                    1 X Dupont cables
                    1 X Screw nuts spacers set
                </p>
            </div>
        </div>

        <div class="Item">
            <img src="/TPO-CaC-main/Kit Arduino/Kit Arduino Impresora 3d Uno Shield Cnc 4 Driver A4988.webp" alt="Kit Arduino Impresora 3d Uno Shield Cnc 4 Driver A4988">
            <div class="ItemDesc">
                <h3>Kit Arduino Impresora 3d Uno Shield Cnc 4 Driver A4988</h3>
                <p>
                    La CNC Shield es una pequeña placa que permite controlar hasta 4 motores paso a paso fácilmente con tu Arduino gracias a su formato shield. 
                    Soporta 4 controladores de potencia Pololu A4988 o Pololu DRV8825 y dispone de todas las conexiones necesarias para conectar interruptores de final de carrera, salidas de relé y diversos sensores.
                    Es totalmente compatible con el firmware de control GRBL y puede ser utilizada con cualquier modelo de placa para arduino, aunque se recomienda utilizar un modelo del tipo UNO o Leonardo.

                    1 PLACA UNO CH 340 2014 CON CABLE USB
                    1 SHIELD CNC V3 para UNO o MEGA
                    4 DRIVER A4988 CON DISIPADOR
                </p>
            </div>
        </div>
        <div class="Item">
            <img src="/TPO-CaC-main/Kit Arduino/Kit Elegoo 525 Resistencias 17 Valores 1% En Caja Plástica.webp" alt="Kit Elegoo 525 Resistencias 17 Valores 1% En Caja Plástica">
            <div class="ItemDesc">
                <h3>Kit Elegoo 525 Resistencias 17 Valores 1% En Caja Plástica</h3>
                <p>
                    Este kit de resistencia funciona bien para una amplia variedad de aplicaciones, incluidos los proyectos de Arduino;
                    Es genial para experimentos electrónicos y eléctricos.

                <h2>Característica:</h2>
                    1/4 W
                    Película de metal
                    1% de tolerancia
                    # 24 SWG líder
                    Pasador (0.022 pulgadas, 0.55mm)
                    Guía de código de color (lectura de resistencia)
                    Certificación RoHS
                    Contendor de plastico

                </p>
            </div>
        </div>

    </main>


    <footer>
        <h6 class="Footer">Grupo 26 - 2023</h6>
    </footer>

</body>

</html>