<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Document</title>
</head>
<body>
    <header id="header"></header>

    <main>
        <section>

            <div class="container-form">
                <form>
                   
                    <div class="FormField">
                        <label for="id">ID</label>
                        <input type="number" name="id" id="id" disabled>
                    </div>
            
                    <div class="FormField">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre">
                    </div>

                    <div class="FormField">
                        <label for="precio">Precio:</label>
                        <input type="number" name="precio" id="precio">
                    </div>

                    <div class="FormField">
                        <label for="stock">Stock:</label>
                        <input type="number" name="stock" id="stock">
                    </div>

                    <div class="FormField">
                        <label for="imagen">Imagen:</label>
                        <input type="text" name="imagen" id="imagen">
                    </div>

                    
                    <button class="boton" type="button" onclick="modificar()">Modificar</button>
                </form>
          
          
              </div>

        </section>
    </main>

    
    <footer></footer>

    <script src="../js/editar_producto.js"></script>
    <script src="../js/datos_editar.js"></script>
    <script src="../js/navbar_template.js"></script>
    <script src="../js/footer.js"></script>
</body>
</html>