<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>

    <header></header>

    <main>

        <section>
            <div class="container-form">

                <form action="">
                    <div class="entrada">
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" id="nombre">
                    </div>

                    <div class="entrada">
                        <label for="precio">Precio:</label>
                        <input type="number" name="precio" id="precio">
                    </div>

                    <div class="entrada">
                        <label for="stock">Stock:</label>
                        <input type="number" name="stock" id="stock">
                    </div>

                    <div class="entrada">
                        <label for="imagen">Imagen:</label>
                        <input type="text" name="imagen" id="imagen">
                    </div>

                    <div class="entrada">
                        <button class="modificar" type="button" onclick="guardar()">Guardar</button>
                    </div>

                </form>

            </div>
        </section>

    </main>

    <footer></footer>

    <script src="../js/nuevo_producto.js"></script>
    <script src="../js/navbar_template.js"></script>
    <script src="../js/footer.js"></script>
</body>

</html>