@font-face {
    font-family: opensans;
    src: url("../fonts/OpenSans-Regular.ttf");
  }
  
:root{
  --fondo-color:rgba(56, 56, 56, 0.314);
  --black-solid:rgba(56, 56, 56);
  --color-font: white;
  --primary-color:rgb(204, 90, 41);
  --second-color: rgb(10, 41, 48);
  font-family: opensans;
}

body {
    background-image: url("../img/background.jpg");
    padding: 0;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1,h2,h3,h4,h5,h6,p,a{
    color: var(--color-font);

}

header {
    background-color: var(--fondo-color);
    padding-left: 1em;
    margin: 0;
    margin-bottom: 1em;
}

.Navbar{
    /**display: flex;
    align-items: center;
    justify-content: center;**/
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    height: 2.5em;
}

.Navbar a {
    text-decoration: none;
    color: aliceblue;

    padding: 1em;

    background-color: rgba(0, 0, 0, 0.9);
}

.Navbar a:hover {
    background-color: var(--color-font);
    color: var(--black-solid);
}

footer div{
    background-color: var(--fondo-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

footer div img{
    min-width: 32px;
    width: 5vw;

}

.Footer {
    color: aliceblue;
    font-size: 5vh;
}

.Item{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
    gap: 5px;
    margin-bottom: 5vh;

    width: 96%;
    border-radius: 23px;
    
}

.Item img{
    box-sizing: border-box;
    max-width: 400px;
    margin: 5vh 5vw 5vh 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    /*object-fit: contain;*/
    background-color: white;
    border: 4px solid white;

    transition: border 0.5s linear;
    
}


.Item .ItemDesc{
    /*position: relative;*/
    
    /*width: 400px;*/
    flex-grow: 1;
    margin-left: 2vw;
    margin-right: 2vw;
    /*left: 20vw;
    width: 50vw;*/
}

/* section de productos*/

.container-product{
/*añadir grid autofill*/
padding: 5vw;
}

.card-product{
    width: 15em;
    height: 18em;
    display: flex;
    flex-direction: column;
    background: rgba(150, 150, 150, 0.125);
    border-radius: 23px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

/* estilos carta de producto*/
.card-product>*{
    width: 100%;
    margin: 0;
}

.card-header{
    text-align: center;
}

.card-body img{
    width: 100%;
    height: 100%;
}


.card-body{
    height: 69%;
}
.card-footer{
    padding: 12px;
}

.Item img:hover{
    /*transform: scale(1.2);*/
    /*z-index: 1;*/
    border: 4px solid rgb(100, 149, 223);

}

/*estilos de formulario*/

form{
    width: 88vw;
    margin-bottom: 13px;
}

.FormField{
    margin-bottom: 15px;
    border-radius: 13px;
    width: 70%;
}

form{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3vh 3vw 3vh 3vw;
    border-radius: 13px;
}

.FormField{
    display: flex;
}

.FormField input{
    flex:1;
    width: 50%;

}

#consulta{
    height: 10vh;
}

.header-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
}

.none{
    display: none;
}

#btn-menu{
    background-color: transparent;
    border: none;
}

.logo{
    width: 1.5em;
    height: 1.5em;
}

@media (max-width: 700px) {
    .Item{
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: 2vh 2vw 2vh 2vw;
    }

    .Navbar{
   display: none;
    }

    .i-header{
        display: block;
        cursor: pointer;
    }

    .Navbar nav{
        display: flex;
        flex-direction: column;
        width: 98%;
    }

    #btn-menu{
        display: block;
    }

    .i-header{
        height:1.5em;
    }
    
    .Item img{
        width: 80%;
    }
}

/*

@media (min-width: 601px) {
    .Item img{
        /*display: inline;*/
        /*height: 512px;*/
        /*flex: 1;*/
        /*width: 33vw;
        object-fit: contain;
        border: 2px solid white;
    }
    
}
*/

footer{
    text-align: center;
}

.movimiento:hover{
    transition: all ease;
    animation-name: mov;
    animation-duration: 3s;
}

@keyframes mov{
    form{
    transform: rotate(0deg);
    }
    to{
      transform: rotate(90deg);
    }
}